In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

## Basic details

In [4]:
df=pd.read_csv(r"C:\Users\PHANEENDRA\Downloads\FashionDataset.csv",index_col=0)
df

,BrandName,Deatils,Sizes,MRP,SellPrice,Discount,Category
0,life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women
1,only,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",Rs\n3499,2449,30% off,Westernwear-Women
2,fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",Rs\n1199,599,50% off,Westernwear-Women
3,zink london,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",Rs\n2299,1379,40% off,Westernwear-Women
4,life,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",Rs\n1699,849,50% off,Westernwear-Women
...,...,...,...,...,...,...,...
21,swarovski,crystal stylish womens rodhium earrings,Nan,Nan,8950,Nan,Jewellery-Women
22,Nan,Nan,Nan,Nan,Nan,Nan,Jewellery-Women
23,jewelz,ethnic gold plated jhumki earrings,Nan,Rs\n1839,643,65% off,Jewellery-Women
24,estelle,womens gold plated double line fancy white and...,Nan,Nan,2799,Nan,Jewellery-Women
25,estelle,womens gold plated bridge designer mangalsutra...,Nan,Nan,1899,Nan,Jewellery-Women

In [6]:
# df=df.drop(df.columns[0],axis=1,inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30758 entries, 0 to 25
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BrandName  30758 non-null  object
 1   Deatils    30758 non-null  object
 2   Sizes      30758 non-null  object
 3   MRP        30758 non-null  object
 4   SellPrice  30758 non-null  object
 5   Discount   30758 non-null  object
 6   Category   30758 non-null  object
dtypes: object(7)
memory usage: 1.9+ MB

In [10]:
df=df.rename(columns={'Deatils':'Details'})
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30758 entries, 0 to 25
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BrandName  30758 non-null  object
 1   Details    30758 non-null  object
 2   Sizes      30758 non-null  object
 3   MRP        30758 non-null  object
 4   SellPrice  30758 non-null  object
 5   Discount   30758 non-null  object
 6   Category   30758 non-null  object
dtypes: object(7)
memory usage: 1.9+ MB

In [12]:
df.describe(include='all')

         BrandName Details  Sizes    MRP SellPrice Discount           Category
count        30758   30758  30758  30758     30758    30758              30758
unique         275   23877   1172   1097      2046       66                  7
top     vastranand     Nan    Nan    Nan       Nan      Nan  Westernwear-Women
freq          1543    1183   7501   8208      1183     8208              10374

In [14]:
df.columns

Index(['BrandName', 'Details', 'Sizes', 'MRP', 'SellPrice', 'Discount',
       'Category'],
      dtype='object')

In [16]:
df.dtypes

BrandName    object
Details      object
Sizes        object
MRP          object
SellPrice    object
Discount     object
Category     object
dtype: object

In [18]:
df.isnull().sum()

BrandName    0
Details      0
Sizes        0
MRP          0
SellPrice    0
Discount     0
Category     0
dtype: int64

## cleaning column : 'BrandName'

In [22]:
df['BrandName'].value_counts()

BrandName
vastranand     1543
Nan            1183
zink london     918
global desi     889
stop            884
               ...
nachtmann         1
v canto           1
clarins           1
gas               1
accessorize       1
Name: count, Length: 275, dtype: int64

In [26]:
# df['BrandName']=df['BrandName'].replace('Nan','Unknown')
df['BrandName'] = df['BrandName'].replace('Nan', np.nan)
df['BrandName'].isnull().sum()

1183

In [28]:
df['BrandName']=df['BrandName'].fillna(df['BrandName'].bfill())

In [34]:
df['BrandName'].value_counts()

BrandName
vastranand       1600
zink london       952
global desi       929
stop              912
enamor            816
                 ...
evaflor             1
betty barclay       1
s.oliver            1
ralph lauren        1
accessorize         1
Name: count, Length: 274, dtype: int64

In [36]:
df['BrandName'].isnull().sum()

0

## cleaning column : 'Details'

In [49]:
df['Details'].value_counts()

Details
Nan                                                                                     1183
kanchipuram weave zari border and rich zari pallu with contrast blouse piece - multi      42
synthetic womens casual sandals - black                                                   38
solid zari cotton blend festive wear womens regular saree - cream                         34
alloy metal gold color western womens earrings                                            30
                                                                                        ...
printed round neck georgette womens regular top - blue                                     1
geometric collar neck wool blend womens pullover - natural                                 1
solid polyester y neck womens top - black                                                  1
womens self textured fit and flare dress - orange                                          1
womens gold plated bridge designer mangalsutra necklaces                                   1
Name: count, Length: 23877, dtype: int64

In [42]:
df['Details']=df['Details'].replace('Nan', np.nan)

In [44]:
df['Details']=df['Details'].fillna(df['Details'].bfill())

In [46]:
df['Details'].isnull().sum()

0

In [52]:
df['Details'].value_counts()

Details
kanchipuram weave zari border and rich zari pallu with contrast blouse piece - multi    46
synthetic womens casual sandals - black                                                 39
solid zari cotton blend festive wear womens regular saree - cream                       36
alloy metal gold color western womens earrings                                          30
structured zari silk blend festive wear womens regular saree - green                    29
                                                                                        ..
solid high neck acrylic womens sweaters - maroon                                         1
stripes cotton round neck womens t-shirt - peach                                         1
solid polyester key hole neck womens top - green                                         1
jacquard open neck acrylic womens poncho - blue                                          1
womens gold plated bridge designer mangalsutra necklaces                                 1
Name: count, Length: 23876, dtype: int64

## cleaning column : 'Sizes'

In [6]:
df['Sizes'].unique()

array(['Size:Large,Medium,Small,X-Large,X-Small', 'Size:34,36,38,40',
       'Size:Large,X-Large,XX-Large', ..., 'Size:3,8', 'Size:36,41',
       'Size:4,4.5,8.5'], dtype=object)

In [8]:
df['Sizes'].value_counts()

Sizes
Nan                                                       7501
Size:Large,Medium,Small,X-Large,X-Small                   1972
Size:Large,Medium,Small,X-Large                           1616
Size:Large,Medium,Small,X-Large,X-Small,XX-Large          1508
Size:Large,Medium,Small,X-Large,XX-Large                  1444
                                                          ...
Size:XL,X-Small                                              1
Size:32-C,34-C,36-B,38-B                                     1
Size:32-B,32-C,32-D,34-C,36-B,36-C,38-B,38-C,40-B,40-C       1
Size:Large,X-Large,X-Small,XX-Large,XXX-Large                1
Size:4,4.5,8.5                                               1
Name: count, Length: 1172, dtype: int64

In [10]:
df['Sizes']=df['Sizes'].replace('Nan',np.nan)

In [12]:
df['Sizes'].isnull().sum()

7501

In [14]:
df['Sizes']=df['Sizes'].fillna(df['Sizes'].bfill()).fillna(df['Sizes'].ffill())

In [16]:
df['Sizes'].value_counts()

Sizes
Size:Error Size                                     4124
Size:Large,Medium,Small,X-Large                     2222
Size:Large,Medium,Small,X-Large,X-Small             2139
Size:Large,Medium,Small,X-Large,XX-Large            1846
Size:Large,Medium,Small,X-Large,X-Small,XX-Large    1658
                                                    ...
Size:34-C,36-B,40-C                                    1
Size:4X-Large,Small                                    1
Size:34-B,34-C,36-D,38-B,40-D                          1
Size:6,8,10,12,14,16,18,20                             1
Size:4,4.5,8.5                                         1
Name: count, Length: 1171, dtype: int64

In [18]:
df['Sizes'].isnull().sum()

0

## cleaning column : 'MRP'

In [6]:
df['MRP'].unique()

array(['Rs\n1699', 'Rs\n3499', 'Rs\n1199', ..., 'Rs\n1080', 'Rs\n1125',
       'Rs\n18000'], dtype=object)

In [8]:
df['MRP'].value_counts()

MRP
Nan          8208
Rs\n1499      925
Rs\n1999      918
Rs\n999       881
Rs\n1299      854
             ...
Rs\n2703        1
Rs\n1562        1
Rs\n2125        1
Rs\n2893        1
Rs\n18000       1
Name: count, Length: 1097, dtype: int64

In [10]:
df['MRP']=df['MRP'].replace('Nan', np.nan)

In [12]:
df['MRP']=df['MRP'].fillna(df['MRP'].ffill()).fillna(df['MRP'].bfill())

In [14]:
df['MRP'].isnull().sum()

0

In [16]:
df['MRP'].value_counts()

MRP
Rs\n1999    1185
Rs\n1499    1158
Rs\n999     1134
Rs\n1299    1083
Rs\n2499     918
            ...
Rs\n2347       1
Rs\n3727       1
Rs\n2214       1
Rs\n3100       1
Rs\n3439       1
Name: count, Length: 1096, dtype: int64

In [24]:
df['MRP'].value_counts()

MRP
99     3614
999    3019
499    2729
299    2263
799    1694
       ...
68        1
446       1
414       1
012       1
992       1
Name: count, Length: 590, dtype: int64

In [22]:
for i in range(len(df)):
    # print(df['MRP'][i])
    df['MRP'][i]=df['MRP'][i].replace(df['MRP'][i],df['MRP'][i[4:]])

TypeError: 'int' object is not subscriptable

## cleaning column : 'SellPrice'

In [26]:
df['SellPrice'].unique()

array(['849', '2449', '599', ..., '9290', '3502', '643'], dtype=object)

In [29]:
df['SellPrice'].value_counts()

SellPrice
Nan    1183
499     804
999     781
599     670
899     609
       ...
397       1
309       1
387       1
435       1
643       1
Name: count, Length: 2046, dtype: int64

In [31]:
df['SellPrice']=df['SellPrice'].replace('Nan',np.nan)

In [33]:
df['SellPrice']=df['SellPrice'].fillna(df['SellPrice'].ffill()).fillna(df['SellPrice'].bfill())

In [35]:
df['SellPrice'].value_counts()

SellPrice
499     840
999     819
599     695
899     628
799     621
       ...
309       1
387       1
435       1
1537      1
643       1
Name: count, Length: 2045, dtype: int64

In [37]:
df['SellPrice'].isna().sum()

0

## cleaning column : 'Discount'

In [39]:
df['Discount'].unique()

array(['50% off', '30% off', '40% off', '10% off', '60% off', 'Nan',
       '20% off', '41% off', '55% off', '73% off', '69% off', '47% off',
       '57% off', '70% off', '67% off', '33% off', '44% off', '35% off',
       '45% off', '65% off', '68% off', '17% off', '78% off', '25% off',
       '80% off', '64% off', '63% off', '32% off', '58% off', '26% off',
       '71% off', '75% off', '79% off', '61% off', '24% off', '62% off',
       '38% off', '43% off', '54% off', '23% off', '27% off', '42% off',
       '76% off', '72% off', '53% off', '12% off', '74% off', '56% off',
       '22% off', '66% off', '39% off', '15% off', '34% off', '85% off',
       '5% off', '77% off', '4% off', '51% off', '37% off', '48% off',
       '0% off', '52% off', '29% off', '28% off', '36% off', '31% off'],
      dtype=object)

In [41]:
df['Discount'].value_counts()

Discount
Nan        8208
50% off    7605
30% off    2757
60% off    2644
40% off    2189
           ...
27% off       1
79% off       1
28% off       1
36% off       1
61% off       1
Name: count, Length: 66, dtype: int64

In [43]:
df['Discount']=df['Discount'].replace('Nan',np.nan)

In [45]:
df['Discount']=df['Discount'].fillna(df['Discount'].ffill()).fillna(df['Discount'].bfill())

In [47]:
df['Discount'].value_counts()

Discount
50% off    10059
30% off     4017
60% off     3480
40% off     2981
20% off     2578
           ...
66% off        1
22% off        1
77% off        1
27% off        1
79% off        1
Name: count, Length: 65, dtype: int64

In [49]:
df['Discount'].isnull().sum()

0

## cleaning column : 'Category'

In [51]:
df['Category'].unique()

array(['Westernwear-Women', 'Indianwear-Women',
       'Lingerie&Nightwear-Women', 'Footwear-Women', 'Watches-Women',
       'Fragrance-Women', 'Jewellery-Women'], dtype=object)

In [55]:
df['Category'].value_counts().sum()

30758

In [ ]:
#here this column is clean, nothing to do