**enumerate()**
- enumerate() function is used to iterate both the index and the element

In [3]:
z=["abc","xyz","asd","jkl"]

for i,j in enumerate(z):
    print(f"index {i} and element {j}")

index 0 and element abc
index 1 and element xyz
index 2 and element asd
index 3 and element jkl

In [4]:
z={1:"abc", 2:"xyz", 3:"asd", 4:"jkl"}
y=list(z.items())
print(y)

for i,j in enumerate(z):
    print(f"index {i} and key {j} values {z.get(j)}")

for i,j in enumerate(y):
    print(f"index {i} element {j}")

for i,j in y:
    print(f"{i} and {j}")

[(1, 'abc'), (2, 'xyz'), (3, 'asd'), (4, 'jkl')]
index 0 and key 1 values abc
index 1 and key 2 values xyz
index 2 and key 3 values asd
index 3 and key 4 values jkl
index 0 element (1, 'abc')
index 1 element (2, 'xyz')
index 2 element (3, 'asd')
index 3 element (4, 'jkl')
1 and abc
2 and xyz
3 and asd
4 and jkl

**WAP to extract the first alphabet and last alphabet of each word in a paragraph**

In [7]:
x="Cranes Varsity offers a comprehensive online and offline Data Science course designed to equip you \
with the skills and knowledge needed to excel in this rapidly evolving field."
y=x.split(' ')
print(y)

for i in y:
    print(i[0], i[-1])

['Cranes', 'Varsity', 'offers', 'a', 'comprehensive', 'online', 'and', 'offline', 'Data', 'Science', 'course', 'designed', 'to', 'equip', 'you', 'with', 'the', 'skills', 'and', 'knowledge', 'needed', 'to', 'excel', 'in', 'this', 'rapidly', 'evolving', 'field.']
C s
V y
o s
a a
c e
o e
a d
o e
D a
S e
c e
d d
t o
e p
y u
w h
t e
s s
a d
k e
n d
t o
e l
i n
t s
r y
e g
f .

**WAP to print factorial of a number**

In [100]:
num = int(input("Enter the number: "))
temp=1

for i in range(1, num+1):
    temp *= i

print(temp)

Enter the number:  10

3628800

**WAP to print the length of a list w/o using in built functions**

In [133]:
z=['Cranes', 'Varsity', 'offers', 'a', 'comprehensive', 'online', 'and', 'offline', 'Data', \
   'Science', 'course', 'designed', 'to', 'equip', 'you', 'with', 'the', 'skills', 'and', 'knowledge', \
   'needed', 'to', 'excel', 'in', 'this', 'rapidly', 'evolving', 'field.']

temp = 0
for i in z:
    temp += 1

print(temp)

28

**WAP to print the multiplication table till 10 of a number**

In [9]:
num = int(input("Enter the number : "))

for i in range(1,11):
    table=num*i
    print(f"{num} x {i} = {table}")

Enter the number :  9

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

**WAP to print the maximum value in a list w/o using in-built functions**

In [11]:
n=input("Enter the list : ").split(',')
print(n)
max=int(n[0])

for i in range(1,len(n)):
    if int(n[i]) >= max:
        max=int(n[i])

print(max)

Enter the list :  1,2,3

['1', '2', '3']
3

**WAP to count vowels in string**

In [210]:
string = input("Enter a string : ")

vowels=['a','e','i','o','u']
count=0
for i in string:
    if i in vowels:
        count+=1

print(count)

Enter a string :  asdf

1