**List comprehension**
- it has the following parts an input sequence, a variable, an optional predicate, an output expression
- an input sequence
- a variable representing members of the input sequence
- an optional predicate expression
- an output expression producing elements of the output list from members of the input sequence that satisfy the predicate

In [2]:
y=list(range(1,6))
y

[1, 2, 3, 4, 5]

**general syntax**
- new_list = [expression for item in iterable if condition]

In [12]:
list_of_numbers = [i for i in range(1,11)]
list_of_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
list_of_squares_of_even = [i*i for i in range(1,11) if i%2==0]
list_of_squares_of_even

[4, 16, 36, 64, 100]

In [40]:
para ="Cranes Varsity offers a comprehensive online and offline Data Science \
course designed to equip you with the skills and knowledge needed to excel in this rapidly evolving field."

list_of_words = [word[0] for word in para.split()]
list_of_words

['C',
 'V',
 'o',
 'a',
 'c',
 'o',
 'a',
 'o',
 'D',
 'S',
 'c',
 'd',
 't',
 'e',
 'y',
 'w',
 't',
 's',
 'a',
 'k',
 'n',
 't',
 'e',
 'i',
 't',
 'r',
 'e',
 'f']

In [8]:
para ="Cranes Varsity offers a comprehensive online and offline Data Science \
course designed to equip you with the skills and knowledge needed to excel in this rapidly evolving field."

list_of_words = [(word+' extra') for word in para.split() if word.count('e')==2]
list_of_words

['Science extra', 'designed extra', 'knowledge extra', 'excel extra']

**one more usage general syntax**
- new_list = [expression1 *if* condition *else* expression2 *for* item *in* iterable]

In [42]:
list_of_squares_of_even = [i*i if i%2==0 else i**3 for i in range(1,11)]
list_of_squares_of_even

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

**Generate a list of even numbers from 1 to 20**

In [50]:
even_numbers = [i for i in range(1,21) if i%2 == 0]
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**Using LC, extract vowels from string**

In [68]:
string = input("Enter the string : ")
#method1
# vowels = [i for i in string if i=='a' or i=='e' or i=='i' or i=='o' or i=='u']
# vowels

#method2
# vowels=['a','e','i','o','u']
# vowels_in_string = [letter for letter in string if letter in vowels]
# vowels_in_string

#method3
vowels=[char for char in string if char in'aeiou']
vowels

Enter the string :  asdfghjkl

['a']

**Convert a list of temperatures in celsius to fahrenheit**

In [96]:
#method1
c=input("Enter the celsius temperatures : ").split(',')
f=[]

for i in c:
    temp_c = float(i)    
    temp_f= (temp_c*(9/5))+32
    f.append(temp_f)

print(f)

Enter the celsius temperatures :  10.1,30

[50.18, 86.0]

**Using LC, reverse each word in a given list**

In [113]:
user_input=input("Enter the lsit of words : ").split(',')

#method1
# reversed_list=[]
# for i in user_input:
#     reversed_list.append(i[::-1])
# print(reversed_list)

#method2
reversed_list = [word[::-1] for word in user_input]
reversed_list

Enter the lsit of words :  qwer,wer,er

['rewq', 'rew', 're']

**Using LC, find all the numbers between 1 and 100 that are divisible by both 3 and 5**

In [116]:
div=[i for i in range(1,101) if i%3==0 and i%5==0]
div

[15, 30, 45, 60, 75, 90]

**Using LC, replace all the occurances of 'Python' with 'Java' in a list of words**

In [8]:
words=['i','love','Python','Python','is','fun']
#method1
# new_words=[]
# for i in words:
#     x=i.replace('Python','Java')
#     new_words.append(x)
# print(new_words)

words = [i.replace('Python','Java') for i in words]
words

['i', 'love', 'Java', 'Java', 'is', 'fun']

**Using LC, filter out words that contain the letter 'a'**

In [24]:
words=['apple','banana','cherry','dates','kiwi']

#method1
# list_with_a=[]
# for i in words:
#     if 'a' in i:
#         list_with_a.append(i)
# list_with_a
        
x=[i for i in words if 'a' not in i]
x

['cherry', 'kiwi']

**Using LC, find the intersection of 2 lists**

In [26]:
list_1 = [1,2,3,4,5,6]
list_2 = [4,5,6,7,8,9]

#method1
# new_list=[]
# for element in list_1:
#     if element in list_2:
#         new_list.append(element)
# new_list
        
x = [element for element in list_1 if element in list_2]
x

[4, 5, 6]

**WAP to check whether a particular number is prime or not**

In [16]:
# num=input("Enter the numbers : ").split(',')

# method1
# prime=[]
# for j in num:
#     temp=int(j)
#     count=0
#     for i in range(1,temp+1):
#         if temp%i == 0:
#             count+=1
#     if count==2:
#         prime.append(temp)           
# prime

#method2(wrong as of now, still need correction)
# num_int=[int(j) for j in num]
# count=0
# for i in num_int:
#     temp=i
#     count+=1 for i in range(1,temp+1) if temp%i==0
# prime=[temp for temp in num_int if count=2 and temp%i==0]

#method3
num=4
if num>1:
    for i in range(2,num):
        if num%i==0:
            print("Not prime")
            break
    else:
        print("Prime")
else:
    print("Not prime")

Not prime

**WAP to check whether a year is leap year or not**

In [16]:
year=int(input("Enter the year : "))

if year%100 == 0:
    if year%400 == 0:
        print("Leap year")
    else:
        print("Not a leap year")
elif year%4==0:
    print("Leap year")
else:
    print("Not a leap year")

Enter the year :  1763

Not a leap year