**loops**

In python we have mainly two loops *for* loop and *while* loop
- for loops used to loop through an iterable object (like a list, tuple, set, dict etc) and perform the same action for each entry

In [4]:
x=[1,2,3,4,5]

for item in x:
    print(f"number {item}")

number 1
number 2
number 3
number 4
number 5

In [5]:
y=["ram","abraham","akash","ayesha"]

for element in y:
    print(f"name {element}")

name ram
name abraham
name akash
name ayesha

In [6]:
x=[-1,1,2,5,8,9,3,4,-4,-9]
even_number=[]
odd_number=[]

for i in x:
    if i % 2 == 0:
        even_number.append(i)
    else:
        odd_number.append(i)

print("even numbers {}".format(even_number))
print("odd numbers {}".format(odd_number))

even numbers [2, 8, 4, -4]
odd numbers [-1, 1, 5, 9, 3, -9]

__WAP to print a list of squared even numbers and in the other list of cube of odd numbers__

In [8]:
x=[-1,1,2,5,8,9,3,4,-4,-9]
squared_even=[]
cubed_odd=[]

for i in x:
    if i % 2 == 0:
        squared_even.append(i**2)
    else:
        cubed_odd.append(i**3)

print("squared even numbers {}".format(squared_even))
print("cubed odd numbers {}".format(cubed_odd))

squared even numbers [4, 64, 16, 16]
cubed odd numbers [-1, 1, 125, 729, 27, -729]

**range() function**
- range() function is useful to get a sequence of numbers.
- it takes three arguments start, stop, step

In [10]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
list(range(10,30,2))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [13]:
squared_numbers = []
for i in range(10):
    squared_numbers.append(i**2)
squared_numbers

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**WAP to the square of even numbers between 0 and 50**

In [20]:
squared=[]
for i in range(0,50,2):
    squared.append(i**2)
squared

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304]

**WAP to print**
"*"
"**"
"***"
"****"
"*****"
"******"

In [40]:
for i in range(0,7):
    print(i* '*')

*
**
***
****
*****
******