In [7]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [8]:
data=pd.read_csv(r"C:\Users\PHANEENDRA\Downloads\Car_sales.csv")
data

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch
0,Acura,Integra,16.919,16.36,Passenger,21.5,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2-Feb-14
1,Acura,TL,39.384,19.875,Passenger,28.4,3.2,225,108.1,70.3,192.9,3.517,17.2,25,6-Mar-15
2,Acura,CL,14.114,18.225,Passenger,.,3.2,225,106.9,70.6,192,3.47,17.2,26,1-Apr-14
3,Acura,RL,8.588,29.725,Passenger,42,3.5,210,114.6,71.4,196.6,3.85,18,22,3-Oct-15
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150,102.6,68.2,178,2.998,16.4,27,10-Aug-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,.,Passenger,24.4,1.9,160,100.5,67.6,176.6,3.042,15.8,25,21-Sep-15
153,Volvo,S70,15.245,.,Passenger,27.5,2.4,168,104.9,69.3,185.9,3.208,17.9,25,24-Nov-14
154,Volvo,V70,17.531,.,Passenger,28.8,2.4,168,104.9,69.3,186.2,3.259,17.9,25,25-Jun-15
155,Volvo,C70,3.493,.,Passenger,45.5,2.3,236,104.9,71.5,185.7,3.601,18.5,23,26-Apr-15
156,Volvo,S80,18.969,.,Passenger,36,2.9,201,109.9,72.1,189.8,3.6,21.1,24,14-Nov-15

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  157 non-null    object
 4   Vehicle type         157 non-null    object
 5   Price in thousands   157 non-null    object
 6   Engine size          157 non-null    object
 7   Horsepower           157 non-null    object
 8   Wheelbase            157 non-null    object
 9   Width                157 non-null    object
 10  Length               157 non-null    object
 11  Curb weight          157 non-null    object
 12  Fuel capacity        157 non-null    object
 13  Fuel efficiency      157 non-null    object
 14  Latest Launch        157 non-null    object
dtypes: float64(1), object(14)
memory usage: 18.5+ KB

In [10]:
data['Latest Launch']=pd.to_datetime(data['Latest Launch'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  157 non-null    object
 4   Vehicle type         157 non-null    object
 5   Price in thousands   157 non-null    object
 6   Engine size          157 non-null    object
 7   Horsepower           157 non-null    object
 8   Wheelbase            157 non-null    object
 9   Width                157 non-null    object
 10  Length               157 non-null    object
 11  Curb weight          157 non-null    object
 12  Fuel capacity        157 non-null    object
 13  Fuel efficiency      157 non-null    object
 14  Latest Launch        157 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(13)
memory usage: 18.5+ KB

In [11]:
#Extract the details of passenger vehicle type
data['Vehicle type'].value_counts()

Vehicle type
Passenger    116
Car           41
Name: count, dtype: int64

In [12]:
passenger_type=data[data['Vehicle type']=='Passenger']
passenger_type.shape

(116, 15)

In [13]:
#findout how many vehicles launched in the year 2014
data['Year']=data['Latest Launch'].dt.year
data

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch,Year
0,Acura,Integra,16.919,16.36,Passenger,21.5,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2014-02-02,2014
1,Acura,TL,39.384,19.875,Passenger,28.4,3.2,225,108.1,70.3,192.9,3.517,17.2,25,2015-03-06,2015
2,Acura,CL,14.114,18.225,Passenger,.,3.2,225,106.9,70.6,192,3.47,17.2,26,2014-04-01,2014
3,Acura,RL,8.588,29.725,Passenger,42,3.5,210,114.6,71.4,196.6,3.85,18,22,2015-10-03,2015
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150,102.6,68.2,178,2.998,16.4,27,2015-08-10,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,.,Passenger,24.4,1.9,160,100.5,67.6,176.6,3.042,15.8,25,2015-09-21,2015
153,Volvo,S70,15.245,.,Passenger,27.5,2.4,168,104.9,69.3,185.9,3.208,17.9,25,2014-11-24,2014
154,Volvo,V70,17.531,.,Passenger,28.8,2.4,168,104.9,69.3,186.2,3.259,17.9,25,2015-06-25,2015
155,Volvo,C70,3.493,.,Passenger,45.5,2.3,236,104.9,71.5,185.7,3.601,18.5,23,2015-04-26,2015
156,Volvo,S80,18.969,.,Passenger,36,2.9,201,109.9,72.1,189.8,3.6,21.1,24,2015-11-14,2015

In [14]:
data['Year'].value_counts()

Year
2015    79
2014    75
2009     2
2008     1
Name: count, dtype: int64

In [15]:
(data['Year']==2014).sum()

75

In [16]:
data

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch,Year
0,Acura,Integra,16.919,16.36,Passenger,21.5,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2014-02-02,2014
1,Acura,TL,39.384,19.875,Passenger,28.4,3.2,225,108.1,70.3,192.9,3.517,17.2,25,2015-03-06,2015
2,Acura,CL,14.114,18.225,Passenger,.,3.2,225,106.9,70.6,192,3.47,17.2,26,2014-04-01,2014
3,Acura,RL,8.588,29.725,Passenger,42,3.5,210,114.6,71.4,196.6,3.85,18,22,2015-10-03,2015
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150,102.6,68.2,178,2.998,16.4,27,2015-08-10,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,.,Passenger,24.4,1.9,160,100.5,67.6,176.6,3.042,15.8,25,2015-09-21,2015
153,Volvo,S70,15.245,.,Passenger,27.5,2.4,168,104.9,69.3,185.9,3.208,17.9,25,2014-11-24,2014
154,Volvo,V70,17.531,.,Passenger,28.8,2.4,168,104.9,69.3,186.2,3.259,17.9,25,2015-06-25,2015
155,Volvo,C70,3.493,.,Passenger,45.5,2.3,236,104.9,71.5,185.7,3.601,18.5,23,2015-04-26,2015
156,Volvo,S80,18.969,.,Passenger,36,2.9,201,109.9,72.1,189.8,3.6,21.1,24,2015-11-14,2015

In [17]:
print(data['Manufacturer'].unique())

['Acura        ' 'Audi         ' 'BMW          ' 'Buick        '
 'Cadillac     ' 'Chevrolet    ' 'Chrysler     ' 'Dodge        '
 'Ford         ' 'Honda        ' 'Hyundai      ' 'Infiniti     '
 'Jaguar       ' 'Jeep         ' 'Lexus        ' 'Lincoln      '
 'Mitsubishi   ' 'Mercury      ' 'Mercedes-Benz' 'Nissan       '
 'Oldsmobile   ' 'Plymouth     ' 'Pontiac      ' 'Porsche      '
 'Saab         ' 'Saturn       ' 'Subaru       ' 'Toyota       '
 'Volkswagen   ' 'Volvo        ']

In [18]:
#extract the details of all the manufacturer except Mitsubishi
manufacturer_details=data[data['Manufacturer']!=('Mitsubishi   ')]
manufacturer_details

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch,Year
0,Acura,Integra,16.919,16.36,Passenger,21.5,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2014-02-02,2014
1,Acura,TL,39.384,19.875,Passenger,28.4,3.2,225,108.1,70.3,192.9,3.517,17.2,25,2015-03-06,2015
2,Acura,CL,14.114,18.225,Passenger,.,3.2,225,106.9,70.6,192,3.47,17.2,26,2014-04-01,2014
3,Acura,RL,8.588,29.725,Passenger,42,3.5,210,114.6,71.4,196.6,3.85,18,22,2015-10-03,2015
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150,102.6,68.2,178,2.998,16.4,27,2015-08-10,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,.,Passenger,24.4,1.9,160,100.5,67.6,176.6,3.042,15.8,25,2015-09-21,2015
153,Volvo,S70,15.245,.,Passenger,27.5,2.4,168,104.9,69.3,185.9,3.208,17.9,25,2014-11-24,2014
154,Volvo,V70,17.531,.,Passenger,28.8,2.4,168,104.9,69.3,186.2,3.259,17.9,25,2015-06-25,2015
155,Volvo,C70,3.493,.,Passenger,45.5,2.3,236,104.9,71.5,185.7,3.601,18.5,23,2015-04-26,2015
156,Volvo,S80,18.969,.,Passenger,36,2.9,201,109.9,72.1,189.8,3.6,21.1,24,2015-11-14,2015

In [19]:
manufacturer_details['Manufacturer'].value_counts()

Manufacturer
Dodge            11
Ford             11
Toyota            9
Chevrolet         9
Mercedes-Benz     9
Chrysler          7
Nissan            7
Lexus             6
Mercury           6
Volkswagen        6
Pontiac           6
Oldsmobile        6
Volvo             6
Honda             5
Cadillac          5
Saturn            5
Plymouth          4
Buick             4
Acura             4
Jeep              3
Audi              3
Lincoln           3
Hyundai           3
Porsche           3
BMW               3
Saab              2
Subaru            2
Jaguar            1
Infiniti          1
Name: count, dtype: int64

**Total sales by Manufacturer**    
**Calculate the total sales(sales in thousands) for each manufacturer using groupby**

In [21]:
data.dtypes

Manufacturer                   object
Model                          object
Sales in thousands            float64
4-year resale value            object
Vehicle type                   object
Price in thousands             object
Engine size                    object
Horsepower                     object
Wheelbase                      object
Width                          object
Length                         object
Curb weight                    object
Fuel capacity                  object
Fuel efficiency                object
Latest Launch          datetime64[ns]
Year                            int32
dtype: object

In [22]:
sales_by_manufacturer=data.groupby('Manufacturer')['Sales in thousands'].sum()
sales_by_manufacturer

Manufacturer
Acura              79.005
Audi               40.557
BMW                46.505
Buick             242.019
Cadillac          112.178
Chevrolet         554.365
Chrysler          201.721
Dodge             910.149
Ford             2022.635
Honda             592.674
Hyundai           137.326
Infiniti           23.713
Jaguar             15.467
Jeep              293.153
Lexus             106.843
Lincoln            85.634
Mercedes-Benz     117.125
Mercury           237.999
Mitsubishi        180.895
Nissan            399.635
Oldsmobile        178.989
Plymouth           64.001
Pontiac           370.534
Porsche            12.128
Saab               21.306
Saturn            168.850
Subaru             80.135
Toyota            740.205
Volkswagen        209.212
Volvo              75.740
Name: Sales in thousands, dtype: float64

**Average Resale Value by Vehicle Type**  
**Determine the average 4-year resale value for each type of vehicle**

In [24]:
data['4-year resale value']=pd.to_numeric(data['4-year resale value'],errors='coerce')   # converts errors to NaN
data.dtypes

Manufacturer                   object
Model                          object
Sales in thousands            float64
4-year resale value           float64
Vehicle type                   object
Price in thousands             object
Engine size                    object
Horsepower                     object
Wheelbase                      object
Width                          object
Length                         object
Curb weight                    object
Fuel capacity                  object
Fuel efficiency                object
Latest Launch          datetime64[ns]
Year                            int32
dtype: object

In [25]:
average_resale_value=data.groupby('Vehicle type')['4-year resale value'].mean()
average_resale_value

Vehicle type
Car          16.297833
Passenger    18.658187
Name: 4-year resale value, dtype: float64

**Maximum hosepower by Manufacturer**   
**Find the maximum horsepower for each manufacturer using groupby.**
**Average Fuel Efficiency by Manufacturer and Vehicle Type**

In [27]:
data['Horsepower']=pd.to_numeric(data['Horsepower'], errors='coerce')

In [28]:
max_hp = data.groupby('Manufacturer')['Horsepower'].max()
max_hp

Manufacturer
Acura            225.0
Audi             310.0
BMW              193.0
Buick            240.0
Cadillac         275.0
Chevrolet        345.0
Chrysler         253.0
Dodge            450.0
Ford             240.0
Honda            210.0
Hyundai          148.0
Infiniti         227.0
Jaguar           240.0
Jeep             195.0
Lexus            300.0
Lincoln          300.0
Mercedes-Benz    302.0
Mercury          210.0
Mitsubishi       210.0
Nissan           222.0
Oldsmobile       250.0
Plymouth         253.0
Pontiac          205.0
Porsche          300.0
Saab             185.0
Saturn           137.0
Subaru           165.0
Toyota           230.0
Volkswagen       150.0
Volvo            236.0
Name: Horsepower, dtype: float64

In [29]:
data['Fuel efficiency']=pd.to_numeric(data['Fuel efficiency'], errors='coerce')

In [30]:
data.dtypes

Manufacturer                   object
Model                          object
Sales in thousands            float64
4-year resale value           float64
Vehicle type                   object
Price in thousands             object
Engine size                    object
Horsepower                    float64
Wheelbase                      object
Width                          object
Length                         object
Curb weight                    object
Fuel capacity                  object
Fuel efficiency               float64
Latest Launch          datetime64[ns]
Year                            int32
dtype: object

In [31]:
avg_fuel_eff=data.groupby(['Manufacturer','Vehicle type'])['Fuel efficiency'].mean()
avg_fuel_eff

Manufacturer   Vehicle type
Acura          Passenger       25.250000
Audi           Passenger       23.333333
BMW            Passenger       25.000000
Buick          Passenger       24.250000
Cadillac       Car             15.000000
               Passenger       22.000000
Chevrolet      Passenger       28.444444
Chrysler       Car                   NaN
               Passenger       24.500000
Dodge          Car             18.000000
               Passenger       23.250000
Ford           Car             19.400000
               Passenger       25.666667
Honda          Car             22.000000
               Passenger       29.500000
Hyundai        Passenger       27.666667
Infiniti       Passenger       25.000000
Jaguar         Passenger       21.000000
Jeep           Car             18.666667
Lexus          Car             18.000000
               Passenger       22.250000
Lincoln        Car             15.000000
               Passenger       21.500000
Mercedes-Benz  Car             20.000000
               Passenger       23.875000
Mercury        Car             19.500000
               Passenger       25.750000
Mitsubishi     Car             19.000000
               Passenger       24.400000
Nissan         Car             19.000000
               Passenger       26.666667
Oldsmobile     Car             20.500000
               Passenger       24.666667
Plymouth       Car             24.000000
               Passenger       25.666667
Pontiac        Car             23.000000
               Passenger       25.200000
Porsche        Passenger       22.000000
Saab           Passenger       23.000000
Saturn         Passenger       30.400000
Subaru         Car             24.000000
               Passenger       25.000000
Toyota         Car             22.000000
               Passenger       29.250000
Volkswagen     Passenger       26.166667
Volvo          Passenger       24.500000
Name: Fuel efficiency, dtype: float64

**Count of Cars by Manufacturer**    

**Find how many car models each manufacturer has using groupby.**

In [33]:
noOfCarModels=data.groupby('Manufacturer')['Model'].count()
noOfCarModels

Manufacturer
Acura             4
Audi              3
BMW               3
Buick             4
Cadillac          5
Chevrolet         9
Chrysler          7
Dodge            11
Ford             11
Honda             5
Hyundai           3
Infiniti          1
Jaguar            1
Jeep              3
Lexus             6
Lincoln           3
Mercedes-Benz     9
Mercury           6
Mitsubishi        7
Nissan            7
Oldsmobile        6
Plymouth          4
Pontiac           6
Porsche           3
Saab              2
Saturn            5
Subaru            2
Toyota            9
Volkswagen        6
Volvo             6
Name: Model, dtype: int64

**Average Car Price by Manufacturer**

**Calculate the average price (Price in thousands) of cars for each manufacturer.**

In [35]:
data['Price in thousands']=pd.to_numeric(data['Price in thousands'], errors='coerce')

In [36]:
avg_price=data.groupby('Manufacturer')['Price in thousands'].mean()
avg_price

Manufacturer
Acura            30.633333
Audi             39.980000
BMW              33.096667
Buick            26.781250
Cadillac         40.254000
Chevrolet        20.022778
Chrysler         23.430833
Dodge            24.213636
Ford             21.047273
Honda            20.277000
Hyundai          12.165667
Infiniti         29.465000
Jaguar           42.800000
Jeep             20.991667
Lexus            44.055000
Lincoln          41.690000
Mercedes-Benz    52.916667
Mercury          20.748333
Mitsubishi       22.167429
Nissan           22.360714
Oldsmobile       25.622833
Plymouth         22.642500
Pontiac          22.949167
Porsche          62.473333
Saab             29.610000
Saturn           14.271000
Subaru           21.395000
Toyota           21.982889
Volkswagen       17.698333
Volvo            30.933333
Name: Price in thousands, dtype: float64

**Total Fuel Capacity by Vehicle Type**

**Determine the total fuel capacity (Fuel capacity) for each vehicle type.**

In [38]:
data.dtypes

Manufacturer                   object
Model                          object
Sales in thousands            float64
4-year resale value           float64
Vehicle type                   object
Price in thousands            float64
Engine size                    object
Horsepower                    float64
Wheelbase                      object
Width                          object
Length                         object
Curb weight                    object
Fuel capacity                  object
Fuel efficiency               float64
Latest Launch          datetime64[ns]
Year                            int32
dtype: object

In [39]:
data['Fuel capacity']=pd.to_numeric(data['Fuel capacity'], errors='coerce')

In [40]:
totalFuelCapacity=data.groupby('Vehicle type')['Fuel capacity'].sum()
totalFuelCapacity

Vehicle type
Car           875.8
Passenger    1924.7
Name: Fuel capacity, dtype: float64

**Highest Resale Value Car for Each Manufacturer**

**Find the model with the highest 4-year resale value for each manufacturer.**

In [42]:
data.dropna(subset=['4-year resale value'], inplace=True)   
#this drops the rows where the column '4-year resale value' has null values or NaN

In [43]:
data['4-year resale value'].isnull().sum()

0

In [44]:
max_resale_index=data.groupby(['Manufacturer'])['4-year resale value'].idxmax()
max_resale_index

Manufacturer
Acura              3
Audi               6
BMW                9
Buick             12
Cadillac          15
Chevrolet         24
Chrysler          33
Dodge             39
Ford              54
Honda             61
Hyundai           64
Infiniti          65
Jeep              69
Lexus             73
Lincoln           77
Mercedes-Benz     95
Mercury           90
Mitsubishi        83
Nissan           105
Oldsmobile       112
Plymouth         116
Pontiac          120
Porsche          126
Saturn           131
Toyota           144
Volkswagen       147
Name: 4-year resale value, dtype: int64

In [45]:
highest_resale_value_model=data.loc[max_resale_index,['Manufacturer','Model','4-year resale value']]
highest_resale_value_model.reset_index(drop=True)

     Manufacturer              Model  4-year resale value
0   Acura          RL                              29.725
1   Audi           A8                              39.000
2   BMW            528i                            36.125
3   Buick          Park Avenue                     20.190
4   Cadillac       Seville                         27.100
5   Chevrolet      Corvette                        36.225
6   Chrysler       Town & Country                  19.540
7   Dodge          Viper                           58.470
8   Ford           Expedition                      23.575
9   Honda          Odyssey                         19.490
10  Hyundai        Sonata                           8.910
11  Infiniti       I30                             19.690
12  Jeep           Grand Cherokee                  18.810
13  Lexus          LS400                           40.375
14  Lincoln        Town car                        21.725
15  Mercedes-Benz  SL-Class                        58.600
16  Mercury        Mountaineer                     20.430
17  Mitsubishi     3000GT                          20.940
18  Nissan         Pathfinder                      17.810
19  Oldsmobile     Bravada                         19.925
20  Plymouth       Voyager                         12.025
21  Pontiac        Firebird                        17.805
22  Porsche        Carrera Cabriolet               67.550
23  Saturn         SW                              10.790
24  Toyota         Land Cruiser                    34.080
25  Volkswagen     Passat                          16.725

**Average Curb Weight by Vehicle Type and Manufacturer**

**Calculate the average curb weight for each vehicle type and manufacturer combination.**

In [47]:
data.dtypes

Manufacturer                   object
Model                          object
Sales in thousands            float64
4-year resale value           float64
Vehicle type                   object
Price in thousands            float64
Engine size                    object
Horsepower                    float64
Wheelbase                      object
Width                          object
Length                         object
Curb weight                    object
Fuel capacity                 float64
Fuel efficiency               float64
Latest Launch          datetime64[ns]
Year                            int32
dtype: object

In [48]:
data['Curb weight']=pd.to_numeric(data['Curb weight'], errors='coerce')
data.dropna(subset=['Curb weight'], inplace=True)

In [49]:
avg_curb_weight=data.groupby(['Vehicle type','Manufacturer'])['Curb weight'].mean()
avg_curb_weight

Vehicle type  Manufacturer
Car           Dodge            4.020600
              Ford             3.954400
              Honda            3.788000
              Jeep             3.373000
              Mercury          3.910000
              Mitsubishi       4.015000
              Nissan           3.969000
              Oldsmobile       4.008000
              Plymouth         3.528000
              Toyota           3.450750
Passenger     Acura            3.369000
              Audi             3.487000
              BMW              3.334500
              Buick            3.570000
              Cadillac         3.863667
              Chevrolet        2.925000
              Chrysler         3.245200
              Dodge            3.073600
              Ford             3.143200
              Honda            2.635500
              Hyundai          2.646000
              Infiniti         3.342000
              Lexus            3.633667
              Lincoln          3.994500
              Mercedes-Benz    3.832750
              Mercury          3.249500
              Mitsubishi       2.935800
              Nissan           2.966333
              Oldsmobile       3.534500
              Plymouth         2.750500
              Pontiac          3.295000
              Porsche          2.961667
              Saturn           2.383667
              Toyota           2.815000
              Volkswagen       2.900800
Name: Curb weight, dtype: float64

**Number of Cars Launched per Year**   

**Extract the year from the Latest Launch column and count the number of cars launched in each year.**

In [51]:
data.dtypes

Manufacturer                   object
Model                          object
Sales in thousands            float64
4-year resale value           float64
Vehicle type                   object
Price in thousands            float64
Engine size                    object
Horsepower                    float64
Wheelbase                      object
Width                          object
Length                         object
Curb weight                   float64
Fuel capacity                 float64
Fuel efficiency               float64
Latest Launch          datetime64[ns]
Year                            int32
dtype: object

In [52]:
# no_of_launches=data.groupby('Year')['Latest Launch'].count()
# no_of_launches

cars_per_year = data['Latest Launch'].dt.year.value_counts()
cars_per_year

Latest Launch
2014    59
2015    58
2008     1
2009     1
Name: count, dtype: int64

**Median Fuel Efficiency by Manufacturer**

**Calculate the median fuel efficiency for each manufacturer using groupby.**

In [54]:
median_fuel_efficiency=data.groupby('Manufacturer')['Fuel efficiency'].median()
median_fuel_efficiency

Manufacturer
Acura            25.5
Audi             22.0
BMW              24.5
Buick            24.5
Cadillac         22.0
Chevrolet        26.0
Chrysler         24.0
Dodge            19.0
Ford             22.0
Honda            24.0
Hyundai          27.0
Infiniti         25.0
Jeep             19.0
Lexus            23.0
Lincoln          21.5
Mercedes-Benz    23.0
Mercury          22.5
Mitsubishi       22.0
Nissan           25.0
Oldsmobile       22.0
Plymouth         27.0
Pontiac          25.0
Porsche          22.0
Saturn           33.0
Toyota           26.5
Volkswagen       26.0
Name: Fuel efficiency, dtype: float64

**Manufacturer with the Most Horsepower per Vehicle Type**

**Identify the manufacturer that produces the highest horsepower cars for each vehicle type.**

In [56]:
data.dtypes

Manufacturer                   object
Model                          object
Sales in thousands            float64
4-year resale value           float64
Vehicle type                   object
Price in thousands            float64
Engine size                    object
Horsepower                    float64
Wheelbase                      object
Width                          object
Length                         object
Curb weight                   float64
Fuel capacity                 float64
Fuel efficiency               float64
Latest Launch          datetime64[ns]
Year                            int32
dtype: object

In [57]:
max_hp_index=data.groupby('Vehicle type')['Horsepower'].idxmax()
max_hp_index

Vehicle type
Car          54
Passenger    39
Name: Horsepower, dtype: int64

In [58]:
highest_hp_manufacturer=data.loc[max_hp_index,['Vehicle type','Manufacturer','Horsepower']]
highest_hp_manufacturer.reset_index(drop=True)

  Vehicle type   Manufacturer  Horsepower
0          Car  Ford                240.0
1    Passenger  Dodge               450.0

**Average Engine Size for Cars with Sales Above 20k**

**Calculate the average engine size for cars whose sales exceed 20,000 units using groupby and conditional filtering.**

In [60]:
data.dtypes

Manufacturer                   object
Model                          object
Sales in thousands            float64
4-year resale value           float64
Vehicle type                   object
Price in thousands            float64
Engine size                    object
Horsepower                    float64
Wheelbase                      object
Width                          object
Length                         object
Curb weight                   float64
Fuel capacity                 float64
Fuel efficiency               float64
Latest Launch          datetime64[ns]
Year                            int32
dtype: object

In [61]:
data['Engine size']=pd.to_numeric(data['Engine size'],errors='coerce')
data.dropna(subset=['Engine size'], inplace=True)
data.dtypes

Manufacturer                   object
Model                          object
Sales in thousands            float64
4-year resale value           float64
Vehicle type                   object
Price in thousands            float64
Engine size                   float64
Horsepower                    float64
Wheelbase                      object
Width                          object
Length                         object
Curb weight                   float64
Fuel capacity                 float64
Fuel efficiency               float64
Latest Launch          datetime64[ns]
Year                            int32
dtype: object

In [62]:
data1=data[data['Sales in thousands']>20]
avg_eng_size_=data1['Engine size'].mean()
avg_eng_size_
# avg_eng_size=data1.groupby('Model')['Engine size'].mean()
# avg_eng_size

2.893827160493827

**Percentage of Total Sales by Manufacturer**

**Determine the percentage contribution of each manufacturer to the total car sales using groupby.**

In [64]:
manufacturer_sales=data.groupby('Manufacturer')['Sales in thousands'].sum()
manufacturer_sales

Manufacturer
Acura              79.005
Audi               40.557
BMW                26.758
Buick             242.019
Cadillac           81.450
Chevrolet         446.370
Chrysler          117.545
Dodge             808.826
Ford             1846.965
Honda             592.674
Hyundai           137.326
Infiniti           23.713
Jeep              293.153
Lexus              43.145
Lincoln            62.709
Mercedes-Benz      66.079
Mercury           237.999
Mitsubishi        180.895
Nissan            280.472
Oldsmobile         60.180
Plymouth           62.129
Pontiac           330.962
Porsche            12.128
Saturn            110.389
Toyota            675.086
Volkswagen        159.749
Name: Sales in thousands, dtype: float64

In [65]:
total_sales=manufacturer_sales.sum()
total_sales

7018.283

In [66]:
sales_percentage=(manufacturer_sales/total_sales)*100

In [67]:
#convert to data frame
sales_percentage=pd.DataFrame(sales_percentage)
sales_percentage.rename(columns={'Sales in thousands':'Sales in percentage'},inplace=True)
sales_percentage

               Sales in percentage
Manufacturer
Acura                     1.125703
Audi                      0.577876
BMW                       0.381261
Buick                     3.448408
Cadillac                  1.160540
Chevrolet                 6.360103
Chrysler                  1.674840
Dodge                    11.524557
Ford                     26.316479
Honda                     8.444715
Hyundai                   1.956689
Infiniti                  0.337875
Jeep                      4.176990
Lexus                     0.614751
Lincoln                   0.893509
Mercedes-Benz             0.941527
Mercury                   3.391129
Mitsubishi                2.577482
Nissan                    3.996305
Oldsmobile                0.857475
Plymouth                  0.885245
Pontiac                   4.715712
Porsche                   0.172806
Saturn                    1.572878
Toyota                    9.618962
Volkswagen                2.276184

**1. Most Common Vehicle Type by Manufacturer**    

   **Find the most frequent vehicle type produced by each manufacturer using groupby and aggregation.**

In [69]:
data.dtypes

Manufacturer                   object
Model                          object
Sales in thousands            float64
4-year resale value           float64
Vehicle type                   object
Price in thousands            float64
Engine size                   float64
Horsepower                    float64
Wheelbase                      object
Width                          object
Length                         object
Curb weight                   float64
Fuel capacity                 float64
Fuel efficiency               float64
Latest Launch          datetime64[ns]
Year                            int32
dtype: object

In [70]:
common_vehicle_type=data.groupby('Manufacturer')['Vehicle type'].agg(lambda x:x.value_counts().idxmax())
common_vehicle_type

Manufacturer
Acura            Passenger
Audi             Passenger
BMW              Passenger
Buick            Passenger
Cadillac         Passenger
Chevrolet        Passenger
Chrysler         Passenger
Dodge            Passenger
Ford             Passenger
Honda                  Car
Hyundai          Passenger
Infiniti         Passenger
Jeep                   Car
Lexus            Passenger
Lincoln          Passenger
Mercedes-Benz    Passenger
Mercury          Passenger
Mitsubishi       Passenger
Nissan           Passenger
Oldsmobile       Passenger
Plymouth         Passenger
Pontiac          Passenger
Porsche          Passenger
Saturn           Passenger
Toyota           Passenger
Volkswagen       Passenger
Name: Vehicle type, dtype: object

**2. Yearly Trend of Average Car Prices**

In [72]:
yearly_price_trend=data.groupby(['Year'])['Price in thousands'].mean()
yearly_price_trend = yearly_price_trend.reset_index().rename(columns={'Price in thousands':'Average prices'})
yearly_price_trend

   Year  Average prices
0  2008       27.560000
1  2009       22.510000
2  2014       25.418276
3  2015       26.493190

**3. Price Variation by Vehicle Type**

In [74]:
# price_variation=data.groupby('Vehicle type')['Price in thousands'].mean()
price_variation=data.groupby(['Manufacturer','Vehicle type'])['Price in thousands']
price_variation

**4. Identify Most Fuel-Efficient Manufacturer by Year**

In [135]:
fuel_efficiency_by_year_manufacturer = data.groupby(['Year','Manufacturer'])['Fuel efficiency'].mean()
fuel_efficiency_by_year_manufacturer

Year  Manufacturer
2008  Mercury          18.000000
2009  Mercury          21.000000
2014  Acura            27.000000
      Audi             21.000000
      BMW              24.000000
      Buick            24.000000
      Cadillac         22.000000
      Chevrolet        30.666667
      Chrysler         24.333333
      Dodge            18.000000
      Ford             22.000000
      Honda            23.250000
      Hyundai          28.000000
      Infiniti         25.000000
      Jeep             18.500000
      Lexus            22.666667
      Lincoln          21.500000
      Mercury          25.750000
      Mitsubishi       22.857143
      Pontiac          25.500000
      Porsche          21.500000
      Saturn           33.000000
      Toyota           31.000000
      Volkswagen       27.000000
2015  Acura            23.500000
      Audi             24.500000
      BMW              25.000000
      Buick            24.333333
      Cadillac         22.000000
      Chevrolet        27.400000
      Chrysler         25.500000
      Dodge            22.400000
      Ford             22.500000
      Honda            32.000000
      Hyundai          27.000000
      Jeep             19.000000
      Mercedes-Benz    23.000000
      Nissan           24.000000
      Oldsmobile       22.000000
      Plymouth         26.666667
      Pontiac          24.000000
      Porsche          23.000000
      Saturn           32.000000
      Toyota           24.857143
      Volkswagen       26.000000
Name: Fuel efficiency, dtype: float64

In [143]:
most_efficient_by_year = fuel_efficiency_by_year_manufacturer.groupby('Year').idxmax().reset_index()
most_efficient_by_year

   Year        Fuel efficiency
0  2008  (2008, Mercury      )
1  2009  (2009, Mercury      )
2  2014  (2014, Saturn       )
3  2015  (2015, Honda        )

In [145]:
most_efficient_by_year['Manufacturer'] = most_efficient_by_year['Fuel efficiency'].apply(lambda x: x[1])
most_efficient_by_year

   Year        Fuel efficiency   Manufacturer
0  2008  (2008, Mercury      )  Mercury
1  2009  (2009, Mercury      )  Mercury
2  2014  (2014, Saturn       )  Saturn
3  2015  (2015, Honda        )  Honda

In [147]:
most_efficient_by_year['Average Fuel Efficiency'] = fuel_efficiency_by_year_manufacturer.groupby('Year').max().values
most_efficient_by_year

   Year        Fuel efficiency   Manufacturer  Average Fuel Efficiency
0  2008  (2008, Mercury      )  Mercury                           18.0
1  2009  (2009, Mercury      )  Mercury                           21.0
2  2014  (2014, Saturn       )  Saturn                            33.0
3  2015  (2015, Honda        )  Honda                             32.0

In [149]:
most_efficient_by_year = most_efficient_by_year.drop(columns=['Fuel efficiency'])[['Year', 'Manufacturer', 'Average Fuel Efficiency']]
most_efficient_by_year

   Year   Manufacturer  Average Fuel Efficiency
0  2008  Mercury                           18.0
1  2009  Mercury                           21.0
2  2014  Saturn                            33.0
3  2015  Honda                             32.0